.Sidebar{
    min-width: var(--sidebar-width);
    background: var(--navbar-color);
    height: calc(100vh - var(--navbar-height));
    position: relative;
    transition: min-width .2s;

    .switchers{
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}

.collapsed{
    min-width: var(--sidebar-width-collapsed);
}


.lang{
    margin-left: 1rem;
    font-weight: 500;
}
.collapsed .lang{
    margin-left: 0;
}