@use "reset";
@use "themes/dark";
@use "themes/normal";
@use "variables/global";

.app{
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}